@import 'node_modules/bootstrap/scss/bootstrap';

html {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &.no-scroll{
        overflow: hidden;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}
ol, ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, p{
    color: $vampire-black;
    font-weight: 500;
}
h1 {
    font-size: 100px;
    @media (min-width: $md) {
        font-size: 188px;
    }
}
h2 {
    font-size: 50px;
    @media (min-width: $sm) {
        font-size: 60px;
    }
    @media (min-width: $md) {
        font-size: 72px;
    }
}
h3 {
    font-size: 30px;
    @media (min-width: $lg) {
        font-size: 44px;
    }
}
h4 {
    font-size: 20px;
    @media (min-width: $lg) {
        font-size: 27px;
    }
}
h5 {
    font-size: 15px;
    @media (min-width: $md) {
        font-size: 17px;
    }
}
p, .numb {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    @media (min-width: $md) {
        font-size: 17px;
    }
}
a {
    text-decoration: none !important;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    outline: 0 !important;
    &:hover {
        text-decoration: none;
        color: $black;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
    &:active, &:focus {
        box-shadow: none !important;
    }
}
.relative {
    position: relative;
}
.border-full {
    position: relative;
    border: 15px solid $vampire-black;
    border-bottom: 0px;
    padding: 20px 10px;
    @media (min-width: $sm) {
        border: 20px solid $vampire-black;
        padding: 60px 10px;
    }
    @media (min-width: $md) {
        border: 20px solid $vampire-black;
    }
    @media (min-width: $lg) {
        padding: 70px 70px;
    }
    @media (min-width: $xl) {
        padding: 70px 70px;
    }
    @media (min-width: $xxl) {
        padding: 80px 120px;
    }
}
.dark-bg {
    background-color: $vampire-black;
}
